<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864042452554-o3ggmqeg0u9g6p88ogkefi3qin5um6g9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864042452554-o3ggmqeg0u9g6p88ogkefi3qin5um6g9</string>
	<key>API_KEY</key>
	<string>AIzaSyAMKz6JAXLo6VGSxx9fFB2F10TwEbKOvj8</string>
	<key>GCM_SENDER_ID</key>
	<string>864042452554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reflectica</string>
	<key>PROJECT_ID</key>
	<string>reflectica1</string>
	<key>STORAGE_BUCKET</key>
	<string>reflectica1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864042452554:ios:6b38c743eb11159fcec8b3</string>
</dict>
</plist>